/output/**
/cache/**
/build/**
input/variables
test/kernel/kernel-5.14.0-570.37.1.el9_6.x86_64.rpm
test/kernel/kernel-abi-stablelists-5.14.0-570.37.1.el9_6.noarch.rpm
test/kernel/kernel-core-5.14.0-570.37.1.el9_6.x86_64.rpm
test/kernel/kernel-devel-5.14.0-570.37.1.el9_6.x86_64.rpm
test/kernel/kernel-devel-matched-5.14.0-570.37.1.el9_6.x86_64.rpm
test/kernel/kernel-headers-5.14.0-570.37.1.el9_6.x86_64.rpm
test/kernel/kernel-modules-5.14.0-570.37.1.el9_6.x86_64.rpm
test/kernel/kernel-modules-core-5.14.0-570.37.1.el9_6.x86_64.rpm
test/kernel/kernel-modules-extra-5.14.0-570.37.1.el9_6.x86_64.rpm
test/kernel/kmod-zfs-5.14.0-570.37.1.el9_6.x86_64-2.2.8-1.el9.x86_64.rpm
test/kernel/kmod-zfs-5.14.0-570.37.1.el9_6.x86_64-debuginfo-2.2.8-1.el9.x86_64.rpm
test/kernel/kmod-zfs-devel-2.2.8-1.el9.x86_64.rpm
test/kernel/kmod-zfs-devel-5.14.0-570.37.1.el9_6.x86_64-2.2.8-1.el9.x86_64.rpm
test/kernel/zfs-kmod-2.2.8-1.el9.src.rpm
test/kernel/zfs-kmod-debugsource-2.2.8-1.el9.x86_64.rpm
test/userspace/libnvpair3-2.2.8-1.el9.x86_64.rpm
test/userspace/libnvpair3-debuginfo-2.2.8-1.el9.x86_64.rpm
test/userspace/libuutil3-2.2.8-1.el9.x86_64.rpm
test/userspace/libuutil3-debuginfo-2.2.8-1.el9.x86_64.rpm
test/userspace/libzfs5-2.2.8-1.el9.x86_64.rpm
test/userspace/libzfs5-debuginfo-2.2.8-1.el9.x86_64.rpm
test/userspace/libzfs5-devel-2.2.8-1.el9.x86_64.rpm
test/userspace/libzpool5-2.2.8-1.el9.x86_64.rpm
test/userspace/libzpool5-debuginfo-2.2.8-1.el9.x86_64.rpm
test/userspace/python3-pyzfs-2.2.8-1.el9.noarch.rpm
test/userspace/zfs-2.2.8-1.el9.src.rpm
test/userspace/zfs-2.2.8-1.el9.x86_64.rpm
test/userspace/zfs-debuginfo-2.2.8-1.el9.x86_64.rpm
test/userspace/zfs-debugsource-2.2.8-1.el9.x86_64.rpm
test/userspace/zfs-dracut-2.2.8-1.el9.noarch.rpm
test/userspace/zfs-test-2.2.8-1.el9.x86_64.rpm
test/userspace/zfs-test-debuginfo-2.2.8-1.el9.x86_64.rpm
